<html>
<head>
	<!--<link rel="icon" href="favicon.ico" type="image/x-icon" />-->
	<title>Main page</title>
	<link href="https://g.csdnimg.cn/static/logo/favicon32.ico" rel="shortcut icon" type="image/x-icon">
	<!--<link rel="stylesheet" herf="./index.css">-->

	<link rel="stylesheet" href="./index.css">
	<script type="text/javascript" src="./index.js"></script>
</head>

	<body>
		<h1>hello server</h1>
		<h4 style="color: aquamarine">author: CanNian</h4>
		
		<button onclick="displayData()" type="button">Update time</button>
		<p id="time_para">Time</p>
		<img src="./image/godness.jpg">
	</body>
</html>