<html>
<head>
	<!--<link rel="icon" href="favicon.ico" type="image/x-icon" />-->
	<title>User page</title>
	<link href="https://g.csdnimg.cn/static/logo/favicon32.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
	<h4>user page</h4>
	<form action="color.cgi" method="POST" accept-charset="GB2312">
		<h4>联系我</h4>
		<label class="input">
			<input class="inputs" type="text" name="company" required="">
			<span><span>公司名称</span></span>
		</label>

		<label class="input">
			<input class="inputs" type="email" name="mail" required="">
			<span><span>电子邮箱</span></span>
		</label>

		<input type="submit" value="Send Message" class="btn cta">
	</form>
	<img src="./image/mikuero.jpg" width="500px">
</body>
</html>